extends layout

block layout-content
  div.View
    h1.Banner Peluqueria Anita
    div.Message
      div.Title
        h2 Lo mejor en atención personalizada
      span.Details Access the "Peluqueria Anita" Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!